<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.poojanegi.apptitrizz">

    <application
        android:allowBackup="true"
        android:icon="@drawable/esy"
        android:label="EasyAppti"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <activity
            android:name=".Home"
            android:label="EasyAppti"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CPercentage"
            android:label="EasyAppti"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.poojanegi.apptitrizz.CPercentage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CNumbers"
            android:label="EasyAppti"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.poojanegi.apptitrizz.CNumbers" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CHcfLcm"
            android:label="EasyAppti"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.poojanegi.apptitrizz.CHcfLcm" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CRatio"
            android:label="EasyAppti"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.poojanegi.apptitrizz.CRatio" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CPermutation"
            android:label="EasyAppti"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.poojanegi.apptitrizz.CPermutation" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QNumbers"
            android:label="EasyAppti"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.poojanegi.apptitrizz.QNumbers" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".History"
            android:label="EasyAppti"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".About"
            android:label="EasyAppti"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
